.search-bar .form-control {
    width:50%;
}
.search-bar {
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.search-bar .grom-group {
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
