.follow-item div {
    font-weight: 700;
    display:flex;
    align-items: center;
}
.follow-item button {
}
.follow-item { 
    display:flex;
    justify-content: space-between;
    margin-bottom: 3px; 
    padding: 5px;
}