.secondary-nav {
    margin: 0 auto;
    height: 100%;
    list-style-type: none;
    width: 90%;
    margin-bottom:20px;
    max-width: 700px;
}
.secondary-nav a {
    color: #17a2b8;
    width: 20%;
    display: inline-block;
    text-align: center;
    border-left: 1px lightgray solid;
}
.secondary-nav-container {
    margin: 5px auto;
    border-right: 1px lightgray solid;
}
@media only screen and (max-width:550px) {
    .secondary-nav { width:100% }
}